body{
  background-color: #CfCfCf;
  font-family: sans-serif;
}

.intro-stuff{
  max-width: 1059px;
  margin: 0 auto;
}
.container{
  max-width: 1059px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.box{
  flex-grow: 1;
  width: 200px;
  height: 70px;
  margin: 5px;
  border: 1px solid black;
  background-color: white;
  border-radius: 4px;
  box-shadow: 3px 3px gray;
}


.header{
  color: white;
  min-height: 20px;
  text-align: center;
  background-color: #7998A6;
}

.base .header{
  background-color: #CD5C5C;
}

.base .close{
  visibility: hidden;
}

.close {
  float: right;
  margin: 0 5px 0 0;
}
.rate{
  line-height: 45px;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5em;
}

button{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  color: white;
}

.sort-btn{
  background-color: #5CB85C;
}

.reset-btn{
  background-color: #D9534F;
  float: right;
}
